Page {
    background-image: url("~/images/background.jpg");
}

.action-bar {
    background-color: #32292f;
    color: #f0f7f4;
    font-size: 20px;
}
.btn {
    background-color: #70abaf;
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 30px;
    border-radius: 5px;
}
.card{
    vertical-align: top;
    margin: 15;
    padding: 15;
    border-radius: 5;
    background-color: #99e1d9;
}

.placeholder{
    height: 100%;
}
